body {

    font-family: 'Courier New', Courier, monospace;
    font-size: 14ch;
    color: blue;

}

h1 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 25ch;
    color:darkolivegreen;
    
}